/**Обнуление**/
*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

html,body{
    font-family: 'Abhaya Libre', serif;
    height: 100%;  
    background: #27AE60;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

}

.container {
    min-height: 100%;
    max-width: 1280px;
    margin: 0px auto;
    
}

/**headder**/

.headder {
    margin: 25px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}       

.headder_logo {
    
}

.headder_block_button {

}

.headder_button_create {
    border-radius: 20px;
    background: #F74F4F;
    width: 200px;
    height: 76px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.block_rules{
    margin: 0 306px 0 0;
}

.rules_text {
    color: #FFF;
    font-family: Abhaya Libre SemiBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

/**main**/

.main {
    display: flex;
    flex-direction: column;
    margin: 55px 0 0 100px;
}

.main_block_title {
    width: 350px;
    height: 206px;
    flex-shrink: 0;
}

.main_title {
    color: #FFF;
    font-family: Abhaya Libre SemiBold;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main_block_text {
    width: 438px;
    height: 130px;
}

.main_text {
    color: #FFF;
    font-family: Abhaya Libre ExtraBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main_block_button {

}

.main_button {
    border-radius: 20px;
    background: #3DB670;
    width: 395px;
    height: 96px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Abhaya Libre SemiBold;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.block_candy_left{
    margin: -324px 0 0 -170px;
}

.candy_left{

    width: 400px;
    height: 450px;
}

.block_candy_heart{
    margin: -450px 0 0 865px; 
}

.candy_heart_img{
    height: 380px;
}

.block_cup_candy {
    margin: -185px 0px 0px 450px;
}

.cup_candy_img {
    height: 250px;
}

.block_candy_top {
    margin: -709px 0px 0px 620px;
    transform: rotate(-151.845deg);
    max-width: 250px;
}

.candy_top {
    height: 200px;
    transform: scale(-1, 1)
}